<ng-container *ngIf="mode$|async; then list else grid"></ng-container>
<ng-template #list>
	<cdk-virtual-scroll-viewport [ngClass]="{ 'content-xsmall': isMobile$ | async }" *ngIf="(page.data | async) as posts" fxLayout="column" #viewport fxLayoutAlign="center" itemSize="95" (scrolledIndexChange)="nextBatch()">
		<div fxLayoutAlign="center" fxLayout="column">
			<mat-list-item *cdkVirtualFor="
			let post of posts;
			let i = index;
			trackBy: trackByIdx">
				<app-post-element [index]="i" [post]="post">
				</app-post-element>
			</mat-list-item>
			<mat-progress-bar *ngIf="(page.loading | async)" color="primary" mode="indeterminate" style="margin-top: 1rem;">
			</mat-progress-bar>
		</div>
	</cdk-virtual-scroll-viewport>
</ng-template>
<ng-template #grid>
	<cdk-virtual-scroll-viewport [ngClass]="{ 'content-xsmall': isMobile$ | async }" *ngIf="(page.data | async) as posts" fxLayout="column" #viewport fxLayoutAlign="center" itemSize="95" (scrolledIndexChange)="nextBatch()">
		<mat-grid-list [rowHeight]="rowHeight" cols="{{ cols$|async }}" gutterSize="4px">
			<mat-grid-tile *cdkVirtualFor="let post of posts;let i = index;trackBy: trackByIdx" [routerLink]="['/posts', post.id]">
				<app-grid-view [index]="i" [post]="post"></app-grid-view>
			</mat-grid-tile>
		</mat-grid-list>
		<mat-progress-bar *ngIf="(page.loading | async)" color="primary" mode="indeterminate" style="margin-top: 1rem;">
		</mat-progress-bar>
	</cdk-virtual-scroll-viewport>
</ng-template>

<app-post-empty *ngIf="(page.done | async)"></app-post-empty>
<router-outlet name="filtersPopup"></router-outlet>
<fab-create-post *ngIf="!(isSearchOpened$|async)"></fab-create-post>
<!-- <fab-create-post ></fab-create-post> -->
<fab-scroll-to-top [viewport]="virtualViewport"></fab-scroll-to-top>