cdk-virtual-scroll-viewport {
	height: calc(100vh - 4rem);
	width: 100%;

	mat-list-item {
		&:first-child {
			margin-top: 0 !important;
		}
		mat-card {
			height: 95px;
			margin: 0 auto;
			margin-top: 0.25rem;
			padding: 0.5rem;
			transition: all linear 0.2s !important;
			height: 100% !important;
			display: flex;
			max-width: calc(100% - 1rem);
			&:hover {
				transition: all linear 0.1s;
				transform: scale(1.009, 1.1);
				background-color: #f2f2f2;
				box-shadow: 2px 5px 10px 5px rgba(36, 36, 36, 0.57);
			}
	
			a {
				&:link,
				&:visited,
				&:focus,
				&:active,
				&:hover {
					text-decoration: none;
                    cursor: pointer;
                    color: inherit;
					width: 100%;
				}
			}
		}
	}
}

.content-xsmall {
	height: calc(100vh - 3.5rem) !important;
}

.margin-right-1 {
	margin-right: 0.5rem;
}

mat-icon.custom-icon {
	margin-right: 0.5rem;
	color: grey;
	font-size: 1rem;
	height: 1rem;
	width: 1rem;
}

.app-line {
	margin: 0.5rem;
}
