<mat-sidenav-container class="sidenav-container" [ngClass]="{'dark-theme': isDarkTheme$ | async}">
	<mat-sidenav #drawer 
		class="sidenav" 
		fixedInViewport="true" 
		[attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isMobile$ | async) ? 'over' : 'side'" 
		[opened]="(!(isMobile$ | async)) && (isAuthenticated$ | async)"
		(click)="close()">
		<app-sidenav-header></app-sidenav-header>
		<app-sidenav-content ></app-sidenav-content>
	</mat-sidenav>
	<mat-sidenav-content class="sidenav-content">
		<app-navbar [drawer]="drawer" ></app-navbar>
		<app-spinner *ngIf="isLoading$|async"></app-spinner>
		<section class="content">
			<router-outlet></router-outlet>
		</section>
	</mat-sidenav-content>
</mat-sidenav-container>