<form
    autocomplete="off"
    novalidate
    [formGroup]="resetForm"
    (submit)="resetPassword()">
    <mat-card-content>
        <mat-card-title>
            {{ "auth.reset_pwd.title" | translate }}
        </mat-card-title>
        <mat-form-field>
            <input
                matInput
                autofocus
                [placeholder]="'auth.input.email' | translate"
                name="email"
                formControlName="email"/>
            <mat-error>
                {{ "validation.email" | translate }}
            </mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button
            type="submit"
            color="primary"
            mat-raised-button
            [disabled]="
                !resetForm.valid &&
                (resetForm.dirty || resetForm.untouched)">
            {{ "auth.login.button" | translate }}
        </button>
    </mat-card-actions>
</form>