<mat-toolbar color="primary" class="mat-elevation-z11" >
    <button
        mat-icon-button
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        fxHide.gt-xs
        *ngIf="(isAuthenticated$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span
        [ngStyle]="{
            'margin-left': (isAuthenticated$ | async) ? '0' : '1rem'
        }"
        >{{ i18n.breadcrumb | async | translate }}</span
    >
    <span fxFlex></span>
	
	<ng-container *ngIf="(isAuthenticated$ | async); then: authenticated; else: guest"></ng-container>

    <ng-template #authenticated>
        <ng-container *ngIf="url == '/posts' || url =='/posts(filtersPopup:filters)'">
                <btn-search></btn-search>
                <btn-sort-by></btn-sort-by>
                <btn-filter [filterNavRef]="filterNavRef"></btn-filter>
                <mat-sidenav #filterNavRef
                        position="end"
                        [mode]="'over'"
                        [fixedInViewport]="true"
                        fixedTopGap="56">
                        <app-filters [filterNavRef]="filterNavRef"></app-filters>
                </mat-sidenav>
                <btn-view></btn-view>
				<btn-more [filterNavRef]="filterNavRef"></btn-more>     
		</ng-container> 
    </ng-template>
    
    <ng-template #guest>
        <ng-container *ngIf="url !== '/login'">
            <a  routerLink="/auth/login"
                mat-button
                fxHide.xs
                (click)="drawer.close()">
                {{ "navbar.login" | translate }}
            </a>                    
            <a  routerLink="/auth/login"
                mat-icon-button
                fxHide.gt-xs
                matTooltip="{{ 'tooltips.login' | translate }}"
                [matTooltipClass]="'tooltip'">
                <mat-icon aria-label="iniciar sesion">fingerprint</mat-icon>
            </a>
        </ng-container>
        <btn-lang></btn-lang>
    </ng-template>
</mat-toolbar>