<div (ngx-scroll-tracker)="scrollListener($event)">
    <app-list-view
        *ngIf="(mode$ | async)"
        [data$]="posts$">
    </app-list-view>

    <app-grid-view
        *ngIf="!(mode$ | async)"
        [data$]="posts$">
    </app-grid-view>

    <mat-progress-bar
        *ngIf="(page.loading | async)"
        color="primary"
        mode="indeterminate"
        style="margin-top: 1rem;">
    </mat-progress-bar>
    <router-outlet name="filtersPopup"></router-outlet>
    <app-post-empty *ngIf="(page.done | async)"></app-post-empty>
    <fab-create-post *ngIf="!(isSearchOpened$|async)"></fab-create-post>
    <fab-scroll-to-top [htmlElement]="scrollableElement"></fab-scroll-to-top>
</div>
