<div fxLayoutAlign="center">
    <mat-card fxLayout="column" fxFlex="100" fxFlex.sm="80" fxFlex.gt-sm="55">
        <form autocomplete="off" 
		novalidate 
		[formGroup]="settingsForm" 
		(submit)="save()" >
            <mat-card-content>
                <mat-list>
                    <h3 matSubheader>
                        {{ "settings.appearance.section" | translate }}
                    </h3>
                    <mat-list-item>
                        <mat-icon matListIcon>format_color_fill</mat-icon>
                        <h4 matLine>
                            {{ "settings.appearance.title" | translate }}
                        </h4>
                        <p matLine>
                            {{ "settings.appearance.description" | translate }}
                        </p>
                        <span fxLayoutAlign="space-between">
                            <mat-icon style="margin-right: 0.5rem;"
                                >brightness_5
                            </mat-icon>
                            <mat-slide-toggle
                                name="isDarkTheme"
                                formControlName="isDarkTheme">
                            </mat-slide-toggle>
                            <mat-icon>brightness_3</mat-icon>
                        </span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <h3 matSubheader>{{ "settings.other" | translate }}</h3>
                    <mat-list-item>
                        <mat-icon matListIcon>language</mat-icon>
                        <h4 matLine>
                            {{ "settings.language.title" | translate }}
                        </h4>
                        <p matLine>
                            {{ "settings.language.description" | translate }}
                        </p>
                        <mat-form-field fxFlex="23">
                            <mat-select
                                [placeholder]="
                                    'settings.language.input' | translate
                                "
                                [value]="language"
                                name="language"
                                formControlName="language">
                                <mat-option
                                    *ngFor="let language of languages"
                                    [value]="language">
                                    {{
                                        language.split("-")[1] == "ES"
                                            ? "Español"
                                            : "English"
                                    }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
			</mat-card-content>
			<mat-card-actions align="end">
				<button type="submit" color="primary"
				mat-raised-button [disabled]="!settingsForm.valid &&( settingsForm.dirty || settingsForm.untouched)">
					{{ 'post.input.save' | translate }}
				</button>
			</mat-card-actions>
            <!-- <div>
                <pre>{{ settingsForm.value | json }}</pre>
            </div> -->
        </form>
    </mat-card>
</div>
